/* Custom Styling for the site */
/* Property of River Dell Regional Schools */

/* Import custom font, Karla, from Google Fonts  */
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');

/* Boilerplate styling */
body {
  font-family: Karla, sans-serif !Important;
  background-color: #fffbf1;
  max-height: 100%;
  position: relative;
}

/* Nav elements */
#nav {
  padding-top: 7px;
  padding-bottom: 5px;
  border-bottom: .5px solid #e0ddd4;
  color: #000;
  background-color: inherit;
  position: sticky;
}

/* Text styles */
a {
  cursor: pointer;
  color: #000 !important;
}

a:hover {
  color: rgba(0, 0, 0, 0.5) !important;

}

.active {
  font-weight: 700;
}

.header-title {
  font-weight: 700;
  font-size: 62pt;
}

.header-subtitle {
  font-weight: 400;
}

.header-byline {

}

.section-title {
  font-size: 42pt;
  font-weight: 700;
  text-align: center;
}

.section-divider {
  margin: 0 auto;
  width: 100px;
  align-self: center;
  border-top: 3px solid black;
}

.footer-title {
  font-weight: 700;
}

.footer-link {
  padding-left: 10px;
  padding-right: 10px;
}

.event-heading {
  font-size: 24pt;
  font-weight: 700;
}

.event-details {
  font-size: 18pt;
}

.keynote-name {
  font-size: 26pt;
  font-weight: 700;
}

.keynote-details {
  font-size: 18pt;
}

.project-title {
  padding-top: 5px;
  font-size: 24pt;
  font-weight: 700;
}

.project-subtitle {
  font-size: 18pt;
}

/* Divs */
#header {
  text-align: center;
  margin-top: 50px;
}

#header-icons {
  padding-top: 50px !important;
  display: inline;
  text-align: center;
}

.section {
  padding-top: 50px;
  padding-bottom: 25px;
}

.section-content {
  padding-top: 20px;
}

.footer {
  padding-top: 7px;
  padding-bottom: 5px;
  border-top: .5px solid #e0ddd4;
  color: #000;
  background-color: inherit;
  position: sticky;
}

.footer-content {
  padding-left: 10px;
  padding-top: 10px;
}

.footer-links {
  text-align: right;
}

.project {
  align-items: center;
  text-align: center;
}

.project-line {
  padding-top: 10px;
}


/* Icon Resizing */
.icon {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 75px;
}

/* Google Maps Fix */
.overlay {

   background:transparent;
   position:relative;
   width:100%;
   height:550px; /* your iframe height */
   top:550px;  /* your iframe height */
   margin-top:-550px;  /* your iframe height */
}

/* Bootstrap Components */
.btn-one {
  color: rgb(30,30,30) !important;
  background-color: transparent;
  border-color: rgb(0, 0, 0);;
  border-radius: 0px;
  border-width: 3px;
  font-size: 30pt;
  width: 200px;
  font-weight: 700 !important;

	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;

}

.btn-one:hover, .btn-one:focus, .btn-one:active, .btn-one.active, .open > .btn-one.dropdown-toggle {
    color: #fffbf1 !important;
  background-color: rgb(0,0,0);
  border-color: rgb(0,0,0);
}
